@font-face{
	font-family: curly;
	src: url("font/curly.ttf");
}
@font-face{
	font-famiy: bell;
	src: url("font/Bell.ttf")
}
*{
	margin: 0px;
	padding: 0px;
	font-family: poppins;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

body{
	margin:0px;
	padding: 0px;
	font-family: poppins;
}


.header{
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid black;
	padding-top: 0px;
	margin-top: 0px;
	background-color:#dedad3;
}

.header h1{
	font-family: curly;
	font-size: 10rem;
	padding: 0px;
	margin-top: 0px;
}

.header h6{
	font-size: 1rem;
	padding-top: 0px;
	margin-top: 0px:
}
.navigation{
	display: flex;
	flex: wrap;
	margin-top: 70px;

}

.text{

	padding: 0px 30px;
	font-weight: 500;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.text a{
	color: black;

}
.text a:hover{
	color: #b99893;
	cursor: pointer;
}

#blog{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 100px;
}

.container{
	width: 1147px;
	height: 3650px;
	border: 1px solid #d4d4d4;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	margin: 0px 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding-left: 20px;
}
.chicklit-container{
	width: 1147px;
	height: 3950px;
	border: 1px solid #d4d4d4;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	margin: 0px 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.sci-container{
	width: 1147px;
	height: 4050px;
	border: 1px solid #d4d4d4;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	margin: 0px 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.flash-container{
	width: 1147px;
	height: 4150px;
	border: 1px solid #d4d4d4;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	margin: 0px 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.title-container{
	padding-top: 75px;
	padding-left: 75px;
	display: flex;
	flex-wrap: wrap;
}
.blog-title{
	margin-left: 20px;
	margin-top: 40px;
}
.title{
	font-size: 2rem;
	
}

.author{
	display: flex;
	flex-direction: column;
	padding-top: 50px;
}
.date{
	font-size: 1.5rem;
	padding-top: 10px;
}
.author span{
	padding: 5px 0px;
	font-size: 1.3rem;
}
.title-image{
	width: 30%;
	height: 350px;
	
}

.title-image img{
	width: 95%;
	height: 95%;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}
.date{
	color:#f33c3c;
	font-size: 0.9rem;
}

.title{
	color:#blaea8;
}

.content{
	margin: 50px 50px;
}
.content p{
	padding: 20px;
	text-indent: 2em;
	font-size: 1.5rem;
}

.examples h3{
	padding-top: 30px;
	font-size: 1.5rem;
	color:#f33c3c;
}
.example-box{
	margin: 35px 0;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
	background-color: rgba(255, 255, 255, .85);
}
.example-image{
	width: 30%;
	height: auto;
	border: 1px solid #ececec;
	transition: transform 0.5s;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	
}

.example-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}

.example-text{
	padding-left: 10px;
	padding-top: 15px;
	width: 70%;
}

.example-title{
	font-size: 2rem;
	padding-left: 20px;
}
.example-author{
	padding-left: 20px;
}
.example-content{
	width: 100%;

}
.example-content p{
		font-size: 1.5rem;
}

.refference{
	padding-left:100px;
	justify-content: center;
	align-items: center;
}

.refference a{
	color: #b99893;
	font-size: 1.3rem;
}


.ttyl p{
	font-size: 1.3rem;
}

.ttyl-image{
	width: 30%;
	height: 450px;
	border: 1px solid #ececec;
	transition: transform 0.5s;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.ttyl-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}


.example-image:hover{
	transform: translateY(-15px);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);

}

.ttyl-image:hover{
	transform: translateY(-15px);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);

}

.refference a:hover{
	color: #f33c3c;
	
}

.list{
	margin: 20px 50px;
	padding-left: 70px;
	border-left: 1px solid black;
}
.lit-characteristics h2{
	color:#f33c3c;
}
.list p{
	padding-top: 0;
	font-size: 1.3rem; 
}

.sci-list-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0px 40px;
	flex-direction: row;

	
}
.sci-list h2{
	color:#f33c3c;
}

.sci-list{
	width:48%;
	height: 550px;
	float: left;
	border: 1px solid #ececec;
	padding: 15px 5px 5px 15px;
	margin: 10px;
	border-radius: 20px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.sci-items{
	margin: 20px 0px;
}
.sci-items p{
	padding-top: 0;
	font-size: 1.3rem; 
}

.sci-examples h3{
	padding-top: 30px;
	font-size: 1.5rem;
	color:#f33c3c;
}
.sci-examples{
	padding-top: 600px;
}

.sci-characteristics .list li{
	padding: 10px 10px;
	border: 1px solid black;
	margin: 10px 0px;
}
.content-div h2{
	color:#f33c3c
}

.sci-characteristics h2{
	color:#f33c3c
}
.word-author{
	display:flex;
	flex-direction: column;
}

.word-count{
	padding-left: 20px;
}

.flash-example-content{
	margin-top: 40px;
}

.vintage-love{
	background-image: url("images/vintage love.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}

#scrollToTopBtn {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	position: fixed;
	bottom: 20px;
	right: 20px;
}

#scrollToTopBtn:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
	transform: translateY(-1px);
}